# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store
.history

# build
lib/

# IDEs and editors
.vscode/settings.json
.vscode/launch.json
.vscode/mcp-local.json
.idea/
*.swp
*.swo
*~
.aitk/
