{"swagger":"2.0","info":{"version":"v1","title":"DeptApps.Api.Public"},"host":"api-acc-new.deptagency.com","basePath":"/Public","schemes":["https"],"paths":{"/api/v1/activities":{"get":{"tags":["Activities"],"summary":"Get all activities","description":"Description goes here!","operationId":"Activities_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.corporationId","in":"query","description":"Mandatory","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.bookedHours","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.defaultBudgetId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.nameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.price","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.roleId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.version","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Activities returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[ActivityDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies":{"get":{"tags":["Agencies"],"summary":"Get agencies","description":"Get all agencies","operationId":"Agencies_Corporations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[CorporationDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies/{id}/divisions":{"get":{"tags":["Agencies"],"summary":"Get agencies","description":"Get all agencies","operationId":"Agencies_Divisions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[DivisionDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies/{id}/features":{"get":{"tags":["Agencies"],"summary":"Get agencies","description":"Get Agency features","operationId":"Agencies_Features","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[CorporationFeaturesDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies/{id}/currencies":{"get":{"tags":["Agencies"],"summary":"Get agency currencies","description":"Get agency currencies","operationId":"Agencies_GetCurrencies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[String]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies/{id}/fixed_revenue_types":{"get":{"tags":["Agencies"],"summary":"Get agency revenue sharings","description":"Get agency revenue sharings","operationId":"Agencies_GetFixedRevenueSharings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[RevenueSharingDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/agencies/{id}/expense_budget_types":{"get":{"tags":["Agencies"],"summary":"Get agency expense budget types","description":"Get agency expense budget types","operationId":"Agencies_GetExpenseBudgetTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[ExpenseBudgetTypeDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/bookedhours/custom/{employeeId}":{"get":{"tags":["BookedHours"],"summary":"Get booked hours for a date range","description":"Description goes here!","operationId":"BookedHours_GetByDateRange","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"hoursType","in":"query","description":"allowed values [billable, nonbillable, null]","required":false,"type":"string"},{"name":"searchParameters.activityId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.activityName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.budgetId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.budgetIsDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.budgetName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.budgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.calendarEndDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.calendarStartDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.color","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.companyId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.companyName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.corporationId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.corporationName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.costPrice","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.date","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.description","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.employeeDisplayName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.employeeLogin","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.hours","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.invoiceStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20]},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.modifyUserDisplayName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.modifyUserName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.projectId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.projectName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.projectType","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.refId","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.roleId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.roleName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.salesPrice","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.time","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.from","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.to","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.leadManagerId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Booked hours returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[BookedHoursDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/bookedhours/agency/{agencyId}":{"get":{"tags":["BookedHours"],"summary":"Get booked hours for a specific date range","operationId":"BookedHours_GetByDateRangeAndAgency","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agencyId","in":"path","description":"id of an agency","required":true,"type":"integer","format":"int32"},{"name":"hoursType","in":"query","description":"allowed values [billable, nonbillable, null]","required":false,"type":"string"},{"name":"divisionId","in":"query","description":"id of a division","required":false,"type":"integer","format":"int32"},{"name":"employmentType","in":"query","description":"allowed values: dept, freelance, flex, empty","required":false,"type":"string"},{"name":"searchParameters.activityId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.activityName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.budgetId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.budgetIsDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.budgetName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.budgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.calendarEndDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.calendarStartDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.color","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.companyId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.companyName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.corporationId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.corporationName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.costPrice","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.date","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.description","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.employeeDisplayName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.employeeLogin","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.hours","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.invoiceStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20]},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.modifyUserDisplayName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.modifyUserName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.projectId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.projectName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.projectType","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.refId","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.roleId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.roleName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.salesPrice","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.time","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.from","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.to","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.leadManagerId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Booked hours returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[BookedHoursDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/bookedhours/{declarationId}":{"get":{"tags":["BookedHours"],"summary":"Get booked hour by Id","description":"Description goes here!","operationId":"BookedHours_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"declarationId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Booked hours returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["BookedHours"],"summary":"Update booked hours","description":"Put hour declaratio for employeeId","operationId":"BookedHours_PutForEmployeeId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookedHours","in":"body","required":true,"schema":{"$ref":"#/definitions/BookedHoursPublicDto"}},{"name":"declarationId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Hours are booked OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["BookedHours"],"summary":"Delete booked hours","operationId":"BookedHours_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"declarationId","in":"path","description":"declaration id","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[Boolean]"}}}}},"/api/v1/bookedhours/currentUser":{"put":{"tags":["BookedHours"],"summary":"Update booked hours","description":"Description goes here!","operationId":"BookedHours_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookedHours","in":"body","required":true,"schema":{"$ref":"#/definitions/BookedHoursPublicDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Hours are booked OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"deprecated":true},"post":{"tags":["BookedHours"],"summary":"Book hours","operationId":"BookedHours_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookedHours","in":"body","description":"hour declaration object","required":true,"schema":{"$ref":"#/definitions/BookedHoursPublicDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}}},"deprecated":true}},"/api/v1/bookedhours":{"post":{"tags":["BookedHours"],"summary":"Book new hour","description":"New POST method","operationId":"BookedHours_PostForEmployeeId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookedHours","in":"body","description":"hour declaration object","required":true,"schema":{"$ref":"#/definitions/BookedHoursPublicDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}}}}},"/api/v1/bookedhours/bulk":{"post":{"tags":["BookedHours"],"summary":"Book new hour","description":"New POST method","operationId":"BookedHours_PostBulkForEmployeeId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookedHours","in":"body","description":"hour declaration object","required":true,"schema":{"$ref":"#/definitions/BookedHoursPublicDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[BookedHoursDto]"}}}}},"/api/v1/bookedhours/export/{employeeId}":{"get":{"tags":["BookedHours"],"operationId":"BookedHours_GetHoursExport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dateFrom","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","required":true,"type":"string","format":"date-time"},{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"}}}}},"/api/v1/bookedhours/export":{"get":{"tags":["BookedHours"],"operationId":"BookedHours_GetHoursExport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dateFrom","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"}}}}},"/api/v1/bookedhours/holiday/{employeeId}":{"get":{"tags":["BookedHours"],"summary":"Get booked hours on vacation for employee","operationId":"BookedHours_GetEmployeeVacationBookings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"dateFrom","in":"query","description":"","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/HolidayBookingDto"}}}}}},"/api/v1/bookedhours/sickleave/{employeeId}":{"get":{"tags":["BookedHours"],"operationId":"BookedHours_GetEmployeeSickLeaveBookings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"dateFrom","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/HolidayBookingDto"}}}}}},"/api/v1/bookedhours/employees/{employeeId}":{"get":{"tags":["BookedHours"],"summary":"Get booked hours for a date range","description":"Description goes here!","operationId":"BookedHours_GetEmployeeHourBookingByDateRange","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"searchParameters.dateFrom","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.dateTo","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Booked hours returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[EmployeeHourBookingDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/search":{"get":{"tags":["Budgets"],"summary":"Search budgets","description":"Description goes here!","operationId":"Budgets_Search","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"corporationId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.active","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eBudgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.companyNameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.purchaseAmount","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.spendHours","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.eBudgetStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,1,2]},{"name":"searchParameters.subsequentCalculation","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isProjectActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eActivityLevel","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[1,2,3]},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BudgetSearchResultDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/search/internal":{"get":{"tags":["Budgets"],"summary":"Search internal budgets","description":"Description goes here!","operationId":"Budgets_SearchInternalBudgets","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.active","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eBudgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.companyNameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.purchaseAmount","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.spendHours","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.eBudgetStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,1,2]},{"name":"searchParameters.subsequentCalculation","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isProjectActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eActivityLevel","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[1,2,3]},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BudgetSearchResultDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/search/internal/specialleave":{"get":{"tags":["Budgets"],"summary":"Search internal Special leave budgets","description":"Description goes here!","operationId":"Budgets_SearchSpecialLeaveInternalBudgets","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.active","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eBudgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.companyNameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.purchaseAmount","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.spendHours","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.eBudgetStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,1,2]},{"name":"searchParameters.subsequentCalculation","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isProjectActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eActivityLevel","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[1,2,3]},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BudgetSearchResultDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/search/currentUser":{"get":{"tags":["Budgets"],"summary":"Get budgets for current user","description":"Description goes here!","operationId":"Budgets_GetForCurrentUser","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"corporationId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.active","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eBudgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.companyNameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.purchaseAmount","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.spendHours","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.eBudgetStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,1,2]},{"name":"searchParameters.subsequentCalculation","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isProjectActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eActivityLevel","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[1,2,3]},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets for current user returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BudgetSearchResultDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recent":{"get":{"tags":["Budgets"],"summary":"Get recent budgets for current user","description":"Shortlist of the recent budgets the user most likely will book","operationId":"Budgets_GetRecentBudgetsForCurrentUser","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.active","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eBudgetType","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,10,20,30]},{"name":"searchParameters.companyNameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isDayBudget","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.modifyDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.purchaseAmount","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.spendHours","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.eBudgetStatus","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[0,1,2]},{"name":"searchParameters.subsequentCalculation","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isProjectActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.eActivityLevel","in":"query","description":"Optional","required":false,"type":"integer","format":"int32","enum":[1,2,3]},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets for current user returned OK","schema":{"$ref":"#/definitions/ResponseMessage[BudgetSearchResultDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets":{"get":{"tags":["Budgets"],"summary":"Get budgets for project","description":"Description goes here!","operationId":"Budgets_GetForProject","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budgets returned OK","schema":{"$ref":"#/definitions/ResponseMessage[List[BudgetDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/favorites":{"get":{"tags":["Budgets"],"summary":"Get favorite budgets for logged employee","operationId":"Budgets_GetFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[List[BudgetDto]]"}}}}},"/api/v1/budgets/favorites/{budgetId}":{"post":{"tags":["Budgets"],"summary":"Add favorite budget","operationId":"Budgets_PostFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[Boolean]"}}}},"delete":{"tags":["Budgets"],"summary":"Remove favorite budget","operationId":"Budgets_DeleteFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[Boolean]"}}}}},"/api/v1/budgets/norecurring/hour":{"post":{"tags":["Budgets"],"summary":"Create hour budget","description":"Description goes here!","operationId":"Budgets_PostHourBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicHourBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicHourBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/norecurring/hour/{id}":{"get":{"tags":["Budgets"],"summary":"Get hour budget by id","operationId":"Budgets_GetHourBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicHourBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Budgets"],"summary":"Update hour budget","description":"Description goes here!","operationId":"Budgets_PutHourBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicHourBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicHourBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/norecurring/expense":{"post":{"tags":["Budgets"],"summary":"Create expense budget","description":"Description goes here!","operationId":"Budgets_PostExpenseBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicExpenseBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicExpenseBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/norecurring/expense/{id}":{"get":{"tags":["Budgets"],"summary":"Get expense budget by id","operationId":"Budgets_GetExpenseBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicExpenseBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Budgets"],"summary":"Update expense budget","description":"Description goes here!","operationId":"Budgets_PutExpenseBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicExpenseBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicExpenseBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recurring/expense":{"post":{"tags":["Budgets"],"summary":"Create recurring expense budget","description":"Description goes here!","operationId":"Budgets_PostRecurringExpenseBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringExpenseBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicRecurringExpenseBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recurring/expense/{id}":{"get":{"tags":["Budgets"],"summary":"Get expense recurring budget by id","operationId":"Budgets_GetRecurringExpenseBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringExpenseBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Budgets"],"summary":"Update recurring expense budget","description":"Description goes here!","operationId":"Budgets_PutRecurringExpenseBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringExpenseBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicRecurringExpenseBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/norecurring/media":{"post":{"tags":["Budgets"],"summary":"Create media budget","description":"Description goes here!","operationId":"Budgets_PostMediaBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicMediaBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicMediaBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/norecurring/media/{id}":{"get":{"tags":["Budgets"],"summary":"Get media budget by id","operationId":"Budgets_GetMediaBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicMediaBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Budgets"],"summary":"Update media budget","description":"Description goes here!","operationId":"Budgets_PutMediaBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicMediaBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Budget successfully created","schema":{"$ref":"#/definitions/PublicMediaBudgetDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recurring/hour":{"post":{"tags":["Budgets"],"summary":"Create recurring hour budget","operationId":"Budgets_PostRecurringHourBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringHourBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringHourBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recurring/hour/{id}":{"get":{"tags":["Budgets"],"summary":"Get recurring hour budget","operationId":"Budgets_GetRecurringHour","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringHourBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Budgets"],"summary":"Update recurring hour budget","operationId":"Budgets_PutRecurringHourBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringHourBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringHourBudgetDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/api/v1/budgets/recurring/media":{"post":{"tags":["Budgets"],"operationId":"Budgets_PostRecurringMediaBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForCreate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringMediaBudgetDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringMediaBudgetDto"}}}}},"/api/v1/budgets/recurring/media/{id}":{"get":{"tags":["Budgets"],"operationId":"Budgets_GetRecurringMediaBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringMediaBudgetDto"}}}},"put":{"tags":["Budgets"],"operationId":"Budgets_PutRecurringMediaBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"budgetForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicRecurringMediaBudgetDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicRecurringMediaBudgetDto"}}}}},"/api/v1/clients":{"get":{"tags":["Clients"],"summary":"Get clients","description":"Get clients.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Clients returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[PublicClientDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/clients/{id}/averageSatisfaction":{"get":{"tags":["Clients"],"summary":"Get client's average satisfaction","description":"Get average satisfaction for client. If no filter is provided average is calculated base on all surveys. Optionaly it's possible to get only average for filtered dataset.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"searchParameters.surveyDateFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.surveyDateTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Addresses returned OK","schema":{"$ref":"#/definitions/ResponseMessage[ClientSurveyAverageGradeDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/clients/averageSatisfaction":{"get":{"tags":["Clients"],"summary":"Get average satisfaction for all the clients","description":"Get average satisfaction for all the clients. If no filter is provided average is calculated base on all surveys. Optionaly it's possible to get only average for filtered dataset.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.surveyDateFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.surveyDateTo","in":"query","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Addresses returned OK","schema":{"$ref":"#/definitions/ResponseMessage[SurveyAverageGradeDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/clients/{clientId}/projects":{"get":{"tags":["Clients"],"summary":"Get client projects","operationId":"Clients_GetProjects","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"clientId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"includeService","in":"query","required":false,"type":"boolean"},{"name":"searchParameters.corporationId","in":"query","description":"Optional. Default: null","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[List[ProjectDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/api/v1/clients/{dept_client_id}/po_numbers":{"get":{"tags":["Clients"],"summary":"Get client's PO numbers","description":"Get clients.","operationId":"Clients_GetClientsPONumbers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dept_client_id","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Clients returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[PONumberDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/clients/bookedhours":{"get":{"tags":["Clients"],"summary":"Get clients booked hours","description":"Get clients booked  hours.","operationId":"Clients_GetClientsBookedHours","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dateFrom","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Clients returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[IPublicClientBookedHoursSum]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/corporationsFeatures":{"get":{"tags":["CorporationFeatures"],"summary":"Get allowed features for corporationId","description":"Description goes here!","operationId":"CorporationFeatures_GetCorporationFeatures","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Project returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[CorporationFeaturesDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees":{"get":{"tags":["Employees"],"summary":"Get employees","description":"Description goes here!","operationId":"Employees_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.displayName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.emailAddress","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.firstname","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.infix","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isMale","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.lastname","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.loginName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.mobilePhoneNumber","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.phoneNumber","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.unitId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.unitName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.corporationId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.corporation","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.floatId","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.isStarting","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employees returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[EmployeeDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees/currentUser":{"get":{"tags":["Employees"],"summary":"Get logged in employee","description":"Description goes here!!","operationId":"Employees_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employee returned OK","schema":{"$ref":"#/definitions/ResponseMessage[LoggedInUserDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Employees"],"summary":"Update current employees details","description":"Description goes here!","operationId":"Employees_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/TammoUpdateDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employee successfully updated","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees/{floatId}/tasks":{"get":{"tags":["Employees"],"summary":"Get employee's tasks","description":"Description goes here!","operationId":"Employees_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"floatId","in":"path","required":true,"type":"string"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.notes","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.projectId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.projectname","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.clientName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.startDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.endDate","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.hoursPerDay","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.totalHours","in":"query","description":"Optional","required":false,"type":"number","format":"double"},{"name":"searchParameters.taskDays","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.taskCalculatedDays","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.createdBy","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.creatorId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.modifiedBy","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.priority","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.tentative","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.personName","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employee's tasks returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[TaskDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees/{employeeId}/netutilization":{"get":{"tags":["Employees"],"summary":"Get employee's net utilization","description":"Description goes here!","operationId":"Employees_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employee's tasks returned OK","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeNetUtilizationDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees/search":{"get":{"tags":["Employees"],"summary":"Get employees","description":"Description goes here!","operationId":"Employees_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"q","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Employees returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[BasicEmployeeDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employees/{employeeId}/agencies":{"get":{"tags":["Employees"],"summary":"Get agencies","description":"Get all agencies","operationId":"Employees_Corporations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Agencies returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[CorporationDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/employeesettings":{"get":{"tags":["EmployeeSettings"],"operationId":"EmployeeSettings_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeSettingsDto]"}}}},"put":{"tags":["EmployeeSettings"],"operationId":"EmployeeSettings_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeSettings","in":"body","required":true,"schema":{"$ref":"#/definitions/EmployeeSettingsUpdateDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeSettingsDto]"}}}}},"/api/v1/employee_upsert":{"post":{"tags":["EmployeeUpsert"],"summary":"Upsert an employee from a Boomi request","operationId":"EmployeeUpsert_Upsert","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/EmployeeUpsertRequestDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployeeUpsertResponseDto"}},"401":{"description":"Unauthorized"}}}},"/api/v1/employee_offboard/{employeeId}":{"post":{"tags":["EmployeeUpsert"],"operationId":"EmployeeUpsert_OffBoard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"500":{"description":"InternalServerError"}}}},"/api/v1/features/login":{"get":{"tags":["Features"],"operationId":"Features_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/v1/illReports/currentUser":{"put":{"tags":["IllReports"],"summary":"Post tammo's end of ill report","description":"Description goes here!","operationId":"IllReports_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Tammo's report returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IllReportDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["IllReports"],"summary":"Post an ill report","description":"Description goes here!","operationId":"IllReports_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Tammo's ill report returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IllReportDto]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/news/latest":{"get":{"tags":["News"],"summary":"Gets the latest news informations about Dept","operationId":"News_GetLatestNews","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[NewsDto]"}},"401":{"description":"Unauthorized"},"500":{"description":"InternalServerError"}}}},"/api/v1/inventory/offices":{"get":{"tags":["OfficeLocations"],"operationId":"OfficeLocations_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.corporationId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.zipcode","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.timezoneId","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.baseUtcOffset","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[OfficeLocationDto]]"}}}}},"/api/v1/order_lines/{id}":{"get":{"tags":["OrderLines"],"summary":"Get order line by id","operationId":"OrderLines_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicOrderLineDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["OrderLines"],"summary":"Update order line","description":"Description goes here!","operationId":"OrderLines_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"orderLineForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/IncomingPublicOrderLineDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Order line successfully updated","schema":{"$ref":"#/definitions/PublicOrderLineDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/profileImages/currentUser":{"get":{"tags":["ProfileImages"],"operationId":"ProfileImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeProfilePictureDto]"}}}},"put":{"tags":["ProfileImages"],"operationId":"ProfileImages_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/EmployeeProfilePictureUpdateDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[EmployeeProfilePictureDto]"}}}}},"/api/v1/projects/{projectId}/budgets":{"get":{"tags":["Projects"],"summary":"Get project budgets","operationId":"Projects_GetProjects","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"corporationId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"activityLevel","in":"query","description":"1-Low, 2-Medium, 3-High","required":false,"type":"integer","format":"int32"},{"name":"isForSchedule","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[List[BudgetDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects/{id}":{"get":{"tags":["Projects"],"summary":"Get project by id","operationId":"Projects_GetProject","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicProjectDto"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Projects"],"summary":"Update project","description":"Description goes here!","operationId":"Projects_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicProjectDto"}},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Project successfully updated","schema":{"$ref":"#/definitions/PublicProjectDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects/{project_id}/ratecard":{"get":{"tags":["Projects"],"summary":"Get project rates","operationId":"Projects_GetProjectRatecard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[ProjectRateDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Projects"],"summary":"Update project rates","description":"Description goes here!","operationId":"Projects_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectRateForUpdate","in":"body","required":true,"schema":{"$ref":"#/definitions/ProjectRateDto"}},{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Project rate successfully updated","schema":{"$ref":"#/definitions/ProjectRateDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects":{"post":{"tags":["Projects"],"summary":"Create project","description":"Description goes here!","operationId":"Projects_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project","in":"body","required":true,"schema":{"$ref":"#/definitions/PublicProjectDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Project successfully created","schema":{"$ref":"#/definitions/PublicProjectDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects/{project_id}/order_lines":{"get":{"tags":["Projects"],"summary":"Get order lines by project id","operationId":"Projects_GetrOrderLines","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[PublicOrderLineDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Projects"],"summary":"Create order line","description":"Description goes here!","operationId":"Projects_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"orderLine","in":"body","required":true,"schema":{"$ref":"#/definitions/IncomingPublicOrderLineDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Order line successfully created","schema":{"$ref":"#/definitions/PublicOrderLineDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects/{project_id}/subcontractor_order_lines":{"get":{"tags":["Projects"],"summary":"Get subcontractor order lines by project id","operationId":"Projects_GetSubcontractorOrderLines","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[ICOrderLineDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Projects"],"summary":"Create subcontractor order line","description":"Description goes here!","operationId":"Projects_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"project_id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"orderLine","in":"body","required":true,"schema":{"$ref":"#/definitions/ICOrderLineDto"}},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Subcontractor order line successfully created","schema":{"$ref":"#/definitions/ICOrderLineDto"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/projects/favorites":{"get":{"tags":["Projects"],"summary":"Get favorite projects for logged employee","operationId":"Projects_GetFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[List[ProjectDto]]"}}}}},"/api/v1/projects/favorites/{projectId}":{"post":{"tags":["Projects"],"summary":"Add favorite projects","operationId":"Projects_PostFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[Boolean]"}}}},"delete":{"tags":["Projects"],"summary":"Remove favorite project","operationId":"Projects_DeleteFavorite","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[Boolean]"}}}}},"/api/v1/projecttasks":{"get":{"tags":["ProjectTasks"],"summary":"Get project tasks","operationId":"ProjectTasks_GetByProjectIdAndSelectedTaskId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"projectTaskSearchParameters.projectId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"projectTaskSearchParameters.selectedTaskId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseMessage[List[ProjectTaskDto]]"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/api/v1/reports/hours/custom":{"get":{"tags":["Report"],"summary":"Get custom date range hours net utilization","description":"Description goes here!","operationId":"Report_GetCustomHoursNetUtilization","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.agencyId","in":"query","description":"Required","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.divisionId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.employmentType","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.hoursType","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.searchTerm","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.leadManagerId","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.dateFrom","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"searchParameters.dateTo","in":"query","description":"Optional","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/roles":{"get":{"tags":["Roles"],"summary":"Get all roles","description":"Description goes here!","operationId":"Roles_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchParameters.id","in":"query","description":"Optional","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.isActive","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.isService","in":"query","description":"Optional","required":false,"type":"boolean"},{"name":"searchParameters.name","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.nameShort","in":"query","description":"Optional","required":false,"type":"string"},{"name":"searchParameters.offset","in":"query","description":"Set number of \"limits\" to skip.\r\nOptional. Only works if limit is set.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.limit","in":"query","description":"Max number of items to retrieve.\r\nOptional.","required":false,"type":"integer","format":"int32"},{"name":"searchParameters.sort","in":"query","description":"Define sort order. Prefix '+' for ascending (default if omitted), '-' for descending. \r\nExample: '+name' ('name'), -date.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchParameters.fields","in":"query","description":"Select subset of fields to be returned.\r\nOptional.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Application's access token for Public API","required":true,"type":"string"}],"responses":{"200":{"description":"Roles returned OK","schema":{"$ref":"#/definitions/ResponseMessage[IEnumerable[RoleDto]]"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}},"/api/v1/opportunities_upsert":{"post":{"tags":["SalesforceOpportunites"],"summary":"Upsert an array of Salesforce opportunities","operationId":"SalesforceOpportunites_Upsert","c
[...]
